*{
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.cont .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
.screen{
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    
    
}
.screen div{
    border-radius: 0px;
    padding: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.buttons div{
    border-radius: 0px;
    padding: 25px;
    font-size: 25px;
}
.zero{
    grid-column: 1 / -1;
}
.cont-oper{
    margin-top: 50px;
}
.cont-oper .container{
    padding: 20px;
    border: blue 2px solid;
}
.cont{
    margin-top: 50px;
}


@media (max-width: 400px) {
    .cont .container{
        display: grid;
        grid-template-columns: 1fr
    }
    .zero{
    grid-column: 1 / 1;
    }
}
#res::before{
    content: "oper => ";
}
#result::before{
    content: "Result => ";
}